*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
}

/* Main Page Items */

#login-forms{
    outline: none;
    border: none;
    background-color: blue;
    font-size: 40px;
    color: white;
    border-radius: 10px;
}