<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/admin.js" defer></script>
    <title>Admin</title>
</head>
    <header>
        <h1 id="role">Role</h1>
        <h1>Hip-Coffee-Co</h1>
        <h1 id="employee-name"><a href="login">login</a></h1>
    </header>
    <main>
        <div class="main-container">
            <div class="login">
                <form id="item-form">
                    <span>Create New Item</span>
                    <input name="name" type="text" placeholder="Item Name" id="item-name">
                    <select id="new-category">
                        <option value="drink" selected>Drink</option>
                        <option value="food">Food</option>
                        <option value="misc">Misc</option>
                    </select>
                    <input name="name" type="int" placeholder="Price" id="new-item-price">
                    <input name="name" type="text" placeholder="Ingredients" id="new-item-ingredients">
                    <button id="form-submit-button" type="submit" value="Send">Create New Item</button>
                </form>
            </div>
        </div>
    </main>
</html>