<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/dashboard.js"></script>
    <title>Dashboard</title>
</head>
    <main>
        <header>
            <h1>
                <% if(role) {%>
                    <%= role %>
                <% } else { %>
                    role 
                <% } %> 
            </h1>
            <h1>Hip-Coffee-Co</h1>
            <h1>
                <% if(user) {%>
                    <%= user %>
                <% } else { %>
                    <a href="login">login</a> 
                <% } %>
            </h1>
        </header>
        <div class="middle-page">
            <button type="button" class="dash-buttons"  id="clock-in">Orders</button>
            <button type="button" class="dash-buttons"  id="view-menu">View Menu</button>
            <button type="button" class="dash-buttons"  id="log-out">Log-out</button>
        </div>
    </main>
</html>