<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/dashboard.js"></script>
    <title>Dashboard</title>
</head>
    <header>
        <h1 id="role">Role</h1>
        <h1>Hip-Coffee-Co</h1>
        <h1 id="employee-name"><a href="login">login</a></h1>
    </header>
    <main>
        <div class="middle-page">
            <button type="button" id="clock-in">Clock-In</button>
            <button type="button" id="view-menu">View Menu</button>
            <button type="button" id="log-out">Log-out</button>
        </div>
    </main>
</html>