<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/orders.js"></script>
    <title>Orders</title>
</head>
    <main>
        <div class="enter-name-modal">
            <form class="customer-order-form">
                <input type="text" placeholder="Customer's name" class="name-enter-input">
                <button type="submit" class="name-submit-button">submit</button>
            </form>
        </div>
        <div class="page-items">
            <div class="left-page">
                <div class="employee-info">
                    <div class="employee-top-row">
                        <p1 id="employee-id"><%= user %></p1>
                        <p1 id="current-date">date</p1>
                    </div>
                    <div class="middle-row">
                        <p1 id="employee-role"><%= role %></p1>
                        
                    </div>
                    <div id = "clock"></div>
                </div>
                <div class="receipt-info" id="receipt-scroll-button">
                    <div class="order-top-box">
                        <div class="order-controller">
                            <p1>Create New Order</p1>
                            <button class="add-order" type="button">+</button>
                        </div>
                        <div class="order-example">
                            <span>item</span>
                            <span>price</span>
                        </div>
                        <div id="new-orders">
                            
                        </div>
                    </div>
                    
                </div>
                <div class="order-functions">
                    <div class="total-price">
                        <div class="price-breakdown" id="price-scroll-button">
                            <span id="slideUp">+</span>
                            <span id="slideDown">-</span>
                        </div>
                        <div class="price-breakdown">
                            <span>Price</span>
                            <span id="order-price">$0.00</span>
                        </div>
                        <div class="price-breakdown">
                            <span>Tax</span>
                            <span id="order-tax">$0.00</span>
                        </div>
                        <div class="price-breakdown">
                           <span>Total</span>
                            <span id="order-price-total">$0.00</span> 
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="right-page">
                
                <div class="items-box">
                    <h1 class="category-title" id="drinks-category">Drinks</h1>
                    <h1 class="category-title" id="breakfast-category">Breakfast</h1>
                    <h1 class="category-title" id="bakery-category">Bakery</h1>
                    <h1 class="category-title" id="specials-category">Specials</h1>
                    <ul class="category-split" id="overlay-top">
                        <div id="back-button-box">
                           <h1 id="back-button">EXIT</h1> 
                        </div>
                        <div class="inner-overlay" id="drink-overlay">
                            <% for(let i=0; i < items.length; i++) {%>
                                <% if(items[i].category === 'drink') {%>
                                    <li class="drinks-item-button">
                                        <div class="inner-info-box">
                                            <span style="color: rgb(26, 110, 26);" class="order-item-name"><%= items[i].name %></span>
                                            <span class="order-item-price">Price: $<%= items[i].price %></span>
                                            <span><span style="color: orange;">Ingredients</span>: <%= items[i].ingredients %></span>
                                        </div>
                                    </li>
                                <% } %>
                            <% } %>  
                        </div>
                        <div class="inner-overlay" id="breakfast-overlay">
                            <% for(let i=0; i < items.length; i++) {%>
                                <% if(items[i].category === 'breakfast') {%>
                                    <li class="breakfast-item-button">
                                        <div class="inner-info-box">
                                            <span style="color: rgb(26, 110, 26);" class="order-item-name"><%= items[i].name %></span>
                                            <span class="order-item-price">Price: $<%= items[i].price %></span>
                                            <span><span style="color: orange;">Ingredients</span>: <%= items[i].ingredients %></span>
                                        </div>
                                    </li>
                                <% } %>
                            <% } %>  
                        </div>
                        <div class="inner-overlay" id="bakery-overlay">
                            <% for(let i=0; i < items.length; i++) {%>
                                <% if(items[i].category === 'bakery') {%>
                                    <li class="bakery-item-button">
                                        <div class="inner-info-box">
                                            <span style="color: rgb(26, 110, 26);" class="order-item-name"><%= items[i].name %></span>
                                            <span class="order-item-price">Price: $<%= items[i].price %></span>
                                            <span><span style="color: orange;">Ingredients</span>: <%= items[i].ingredients %></span>
                                        </div>
                                    </li>
                                <% } %>
                            <% } %>  
                        </div>
                        <div class="inner-overlay" id="specials-overlay">
                            <% for(let i=0; i < items.length; i++) {%>
                                <% if(items[i].category === 'special') {%>
                                    <li class="specials-item-button">
                                        <div class="inner-info-box">
                                            <span style="color: rgb(26, 110, 26);" class="order-item-name"><%= items[i].name %></span>
                                            <span class="order-item-price">Price: $<%= items[i].price %></span>
                                            <span><span style="color: orange;">Ingredients</span>: <%= items[i].ingredients %></span>
                                        </div>
                                    </li>
                                <% } %>
                            <% } %>  
                        </div>
                    </ul>
                </div>
                <div class="additional-functions">
                    <h1>additional page functions</h1>
                </div>
            </div>
        </div>   
    </main>
</html>