<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/view-menu.js" defer></script>
    <title>Menu</title>
</head>
    <header>
        <h1 id="role">Role</h1>
        <h1>Hip-Coffee-Co</h1>
        <h1 id="employee-name"><a href="login">login</a></h1>
    </header>
    <main>
        <div class="menu-main-body">
            <h1>Menu</h1>
            <div class="menu-items-body">
                <h1>Drinks</h1>
            </div>
            <div class="menu-items-body">
                <h1>Food</h1>
            </div>
            <div class="menu-items-body">
                <h1>Specials</h1>
            </div>
            <div class="menu-items-body">
                <h1>Miscellaneous</h1>
            </div>
        </div>
        
    </main>
</html>