<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/menu.js" defer></script>
    <title>Menu</title>
</head>
    <main>
        <header>
            <div class="nav-left">
                <button class="fa fa-arrow-left" id="go-back-button"></button>
                <h1>
                    <% if(role) {%>
                        <%= role %>
                    <% } else { %>
                        role 
                    <% } %> 
                </h1>
            </div>
                
                <h1>Hip-Coffee-Co</h1>
                <h1>
                    <% if(user) {%>
                        <%= user %>
                    <% } else { %>
                        <a href="login">login</a> 
                    <% } %>
                </h1>
        </header>
        <div class="main-container">
            <div class="login">
                <div class="item-page-upper-box">
                    <div class="item-categories">
                        <div class="menu-titles">
                          <h1 id="drink-title" class="menu-title-names">Drinks</h1>  
                        </div>
                        
                        <div class="item-data">
                            
                                <% for(let i=0; i < items.length; i++) {%>
                                    <% if(items[i].category === 'drink') {%>
                                        <li class="item-info">
                                            <span id="item-name-output"><%= items[i].name %></span>
                                            <span id="item-price">Price: $<%= items[i].price %></span>
                                            <span id="item-ingredients">Ingredients: <%= items[i].ingredients %></span>
                                            <span class='fa fa-trash' id="delete-button"></span>
                                        </li>
                                    <% } %>
                                <% } %>
                            
                        </div>
                    </div>
                    <div class="item-categories">
                        <div class="menu-titles">
                         <h1 id="food-title" class="menu-title-names">Breakfast</h1>   
                        </div>
                        <div class="item-data">
                            <% for(let i=0; i < items.length; i++) {%>
                                <% if(items[i].category === 'breakfast') {%>
                                    <li class="item-info">
                                        <span id="item-name-output"><%= items[i].name %></span>
                                        <span id="item-price">Price: $<%= items[i].price %></span>
                                        <span id="item-ingredients">Ingredients: <%= items[i].ingredients %></span>
                                        <span class='fa fa-trash' id="delete-button"></span>
                                    </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item-categories">
                        <div class="menu-titles">
                          <h1 id="special-title" class="menu-title-names">Special</h1>  
                        </div>
                        <div class="item-data">
                            <% for(let i=0; i < items.length; i++) {%>
                                <% if(items[i].category === 'special') {%>
                                    <li class="item-info">
                                        <span id="item-name-output"><%= items[i].name %></span>
                                        <span id="item-price">Price: $<%= items[i].price %></span>
                                        <span id="item-ingredients">Ingredients: <%= items[i].ingredients %></span>
                                        <span class='fa fa-trash' id="delete-button"></span>
                                    </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="item-categories">
                        <div class="menu-titles">
                           <h1 id="misc-title" class="menu-title-names">Bakery</h1> 
                        </div>
                        
                        <div class="item-data">
                            <% for(let i=0; i < items.length; i++) {%>
                                <% if(items[i].category === 'bakery') {%>
                                    <li class="item-info">
                                        <span id="item-name-output"><%= items[i].name %></span>
                                        <span id="item-price">Price: $<%= items[i].price %></span>
                                        <span id="item-ingredients">Ingredients: <%= items[i].ingredients %></span>
                                        <span class='fa fa-trash' id="delete-button"></span>
                                    </li>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="form-box">
                    <form id="item-form">
                        <span>Create New Item</span>
                        <input name="name" type="text" placeholder="Item Name" id="item-name">
                        <select id="new-category">
                            <option value="drink" selected>Drink</option>
                            <option value="breakfast">Breakfast</option>
                            <option value="special">Special</option>
                            <option value="bakery">Bakery</option>
                        </select>
                        <input name="name" type="int" placeholder="Price" id="new-item-price">
                        <input name="name" type="text" placeholder="Ingredients" id="new-item-ingredients">
                        <button id="form-submit-button" type="submit" value="Send">Create New Item</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</html>