*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

#role {
    margin-left: 15px;
}

.fa-arrow-left {
    margin-top: 5px;
}

.nav-left{
    display: flex;
}

#go-back-button {
    cursor: pointer;
}

h1 {
    color: white;
}

button {
    border: none;
    outline: none;
}

main {
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    min-height: 100vh;
}

li {
    list-style: none;
}

/* Login, register, and change-password pages */

.main-container {
    width: 100vw;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form, #registration-form {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.login-name, .login-password{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid grey;
    font-size: 18px;
    padding-bottom: 3px;
    margin-top: 15px;

}

.error {
    color: red;
    font-weight: 700;
}

.error-border {
    border-bottom: 2px solid red;
}

#form-submit-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.new-page-link {
    margin-top: 5px;
}

/* Dashboard page */
.dash-buttons {
    cursor: pointer;
}

.middle-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.middle-page > p1{
    border: 2px solid black;
    padding: 20px;
}

.middle-page > button {
    height: 90px;
    width: 210px;
    font-size: 25px;
}

/* Orders page */

.enter-name-modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
}

.enter-name-modal.show {
    opacity: 1;
    pointer-events: auto;
}

.customer-order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-enter-input {
    padding: 6px;
    font-size: 20px;

}

.name-submit-button {
    width: 150px;
    font-size: 17.5px;
}

.customer-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    padding: 3px;
}

.left-page{
    height: 100%;
    width: 26%;
    margin: 2px;
}

.employee-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    background-color: lightgray;
    padding: 5px 10px;
}

.employee-top-row {
    display: flex;
    justify-content: space-between;
}

.employee-middle-row {
    display: flex;
    justify-content: space-between;
}

.receipt-info {
    height: 70%;
    width: 100%;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#receipt-scroll-button {
    overflow: hidden;
}



.order-controller {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.add-order {
    color: white;
    background-color: darkslategray;
    padding-top: 2px;
    width: 23px;
    height: 23px;
    justify-content: center;
    cursor: pointer;
}

.order-example {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

output {
    padding-bottom: 5px;
    padding-top: 5px;
}

.order-box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    /* use negative margin to overflow orders
    margin-bottom: -20px;
    */
    margin-top: 3px;
    padding-right: 1px;
}

.order-output {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-item {

}

.order-price {

}

.total-price{
    position: absolute;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1px;
}

.price-breakdown{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#price-scroll-button {
    background-color: transparent;
    justify-content: space-around;
}

#customer-name {
    text-align: center;
}

#new-orders {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
}

.order-functions {
    height: 15%;
    width: 100%;
    background-color: tan;
    position: relative;
    -webkit-box-shadow: 0px -4px 12px -4px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px -4px 12px -4px rgba(0,0,0,0.69);
    box-shadow: 0px -4px 12px -4px rgba(0,0,0,0.69);
}

.right-page {
    height: 100%;
    width: 74%;
    margin: 2px;
}

.items-box {
    height: 85%;
    background-color: rgb(155, 101, 0);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
}

.items-box > ul {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.836);
    height: 100%;
    pointer-events: none;
    opacity: 0;
    padding: 10px 5px;
}

.inner-overlay {
    opacity: 0;
}

#overlay-top.show {
    opacity: 1;
    pointer-events: auto;
}

#drink-overlay.show {
    opacity: 1;
    
}

#breakfast-overlay.show {
    opacity: 1;
}

#bakery-overlay.show {
    opacity: 1;
}

#specials-overlay.show {
    opacity: 1;
}

#specials-overlay.hide, #drink-overlay.hide, #bakery-overlay.hide, #breakfast-overlay.hide{
    display: none;
    pointer-events: none;
}

.category-split {
    width: 100%;

}

#back-button{
    margin: 10px;
}

.category-split > div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category-split > div > li {
    
    background-color: white;
    height: 130px;
    width: 220px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

.category-split > div > li > div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 5px;

}

.category-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px 5px 5px 5px;
    background-color: rgba(176, 176, 176, 0.7);
    height: 130px;
    width: 220px;
    cursor: pointer;

}

.additional-functions {
    height: 15%;
    width: 100%;
    background-color: tan;
    
}

.categories {
    cursor: pointer;
}

.inner-info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#back-button {
    cursor: pointer;
}

/* Menu page */

#special-title {
    border-bottom: 2px solid pink;
}

#drink-title {
    border-bottom: 2px solid rgb(255, 77, 41);
}

#misc-title {
    border-bottom: 2px solid rgb(206, 168, 0);
}

#food-title {
    border-bottom: 2px solid rgb(104, 179, 0);
}

.item-page-upper-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.item-categories{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
}

.form-box{
    display: flex;
    justify-content: center;
}

#item-form {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin-top: 25px;
    padding: 5px;
}

.item-info {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin-top: 12px;
    padding: 6px;
    width: 200px;
    flex-wrap: wrap;
}

.menu-titles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title-names {
    width: 275px;
}

#item-name-output {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

.item-data {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#delete-button {
   margin-top: 5px; 
   cursor: pointer;
   width: 10px;
}

#item-price, #item-ingredients {
    text-align: left;
}


