*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    width: 100vw;
    height: 100vh;
}

/* Login, register, and change-password pages */

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#login-form, #registration-form {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}


.login-name, .login-password{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid grey;
    font-size: 18px;
    padding-bottom: 3px;
    margin-top: 15px;
}

.error {
    color: red;
    font-weight: 700;
}

.error-border {
    border-bottom: 2px solid red;
}

#form-submit-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.new-page-link {
    margin-top: 5px;
}

/* Dashboard page */

/* Orders page */

.page-items {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding: 5px;
}

.left-page{
    height: 100%;
    width: 26%;
    margin: 2px;
}

.employee-info {
    height: 15%;
    width: 100%;
    background-color: lightgray;
    padding-bottom: 2px;
}

.receipt-info {
    height: 70%;
    width: 100%;
    background-color: white;
}

.order-functions {
    height: 15%;
    width: 100%;
    background-color: tan;

}

.right-page {
    height: 100%;
    width: 74%;
    background-color: grey;
    margin: 2px;
}